# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [9]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'lesson-02', 'code', 'ozone.csv'))

In [10]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [28]:
# print '\n'.join(data.columns.values)
for x in data.columns.values:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [58]:
#tmp = data.ix[0:1] # or data.head(2)
#print tmp.head()
data.loc[0:1,:]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [55]:
a = [1,2,3]
data['Ozone'][0:1]

0    41.0
Name: Ozone, dtype: float64

How many observations (i.e. rows) are in this data frame?

In [30]:
# print data.shape[0]
print len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [32]:
#tmp = data.tail(2)
#print tmp.head()
print data.loc[151:,:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [66]:
print data.iloc[46:48,]
#print data.ix[47,'Ozone']
print data.loc[46,"Ozone"]

    Ozone  Solar.R  Wind  Temp  Month  Day
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17
21.0

How many missing values are in the Ozone column of this data frame?

In [34]:
print data['Ozone'].isnull().sum()
print len(data) - len(data['Ozone'].dropna())

37
37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [69]:
print data.Ozone.mean()

42.1293103448

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [70]:
print data[(data.Ozone > 31) & (data.Temp > 90)]
print data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [38]:
print data[ data.Month==6 ].Temp.mean()
print data[ data.Month==6 ]['Temp'].mean()

79.1
79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [39]:
print data[ data.Month==5 ].Ozone.max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas